
.container{
  display: flex;
  flex-direction: column;
  justify-content:baseline;
}

.navbar{
  display: flex;
  justify-items: center;
  justify-content: center;
  flex: 0 0 0;
}

.navbar ul{
  flex: nowrap;
}

.navbar li{
  display: inline-block;
  list-style-type: none;
}

.navbar a{
  padding-left: 3rem;
  text-align: center;
  text-decoration: none;
}

.header{
  background-color: #495E57;
  padding-left: 5rem;
  height: 15rem;
}
.header h1{
  color:#F4CE14;
  margin-left: 4rem;
  padding-bottom: 1rem;
}

.header h2{
  margin-top: -3rem;
  color:white;
  padding-left: 4rem;
}

.header p{
  color:white;
  font-weight: bold;
  margin-left:4rem;
  width:14rem;
}

.header button{
  background-color: #F4CE14;
  border-color: #F4CE14;
  border-radius: .35rem;
  margin-bottom: 1rem;
  margin-left: 4rem;
  font-weight: bold;
  padding:.30rem;
}

.header button:hover{
  background-color: lightsteelblue;
  border-color: lightsteelblue;
}

.header img{
  width:12rem;
  height:14rem;
  border-radius: 0.5rem;
  margin-left: 10rem;
  margin-top: 3rem;
}

.main{
  display: flex;
  height: 5rem;
  margin-top:2rem;
  justify-content: center;
  text-align: right ;
}
.main button{
  align-self:center;
}

#banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*






#banner {

}


.main button{
  
  background-color: #F4CE14;
  border-color: #F4CE14;
  border-radius: 7px;
  margin-left: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

*/
